.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.start-title {
    font-size: 3rem;
    color: #293264;

}

.start-description {
    color: #293264;
}

.start-btn {
    margin-top: 20px;
    background-color: #4D5B9E;
    color: white;
    border-radius: 15px;
    width: 193px;
    height: 52px;
    font-size: 1.5rem;
    cursor: pointer;
}